.galleryPageTwo {
  margin: 0 auto;
}
.galleryPageTwo .bigEventHeader {
  margin: 0 auto;
  width: 980px;
  height: 400px;
  background-image: linear-gradient(to bottom, rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../assests/images/gallery/1.png);
  display: flex;
  align-items: flex-end;
}
.galleryPageTwo .paraGroup {
  width: 980px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.galleryPageTwo .paraGroup .paraGroupOne {
  width: 470px;
}
.galleryPageTwo .paraGroup .paraGroupTwo {
  width: 470px;
}